version: '3.8'

services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    restart: unless-stopped

  webhook:
    build:
      context: .
      dockerfile: Dockerfile.webhook
    ports:
      # This maps your host's port 5000 to the container's port 5000
      # Nginx will then proxy requests to this port.
      - "127.0.0.1:5000:5000"
    env_file:
      - .env
    restart: unless-stopped
